<h1 class="mt-4">Pessoas</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ pessoa.id ? 'Edição' : 'Cadastro' }}</li>
</ol>
<div class="container">
    <form #pessoaForm="ngForm" (ngSubmit)="onSubmit()" >

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Pessoa salvo/atualizado com sucesso!    
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro  }}    
                </div>
            </div>
        </div>

        <div class="row" *ngIf="pessoa.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" [ngModel]="pessoa.id" name="id" class="form-control" disabled="true" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Data Cadastro:</label>
                    <input type="date" class="form-control" name="dataCadastro"
                           [ngModel]="pessoa.dataCadastro" disabled="true"  />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: </label>
                    <input type="text" class="form-control" 
                           [(ngModel)]="pessoa.nome" name="nome"   />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF: *</label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="pessoa.cpf" name="cpf"  />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data de Nascimento: </label>
                    <input type="date" class="form-control" 
                           [(ngModel)]="pessoa.dataNascimento" name="dataNascimento"   />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label >Sexo:  </label>
                    <label class="radio-inline">Masculino <input type="radio" class="form-control"  
                        [(ngModel)]="pessoa.sexo" name="sexo" value="Masculino"   > </label>
                   
                           <label class="radio-inline">      Feminino <input type="radio" class="form-control"  
                            [(ngModel)]="pessoa.sexo" name="sexo" value="Feminino"   ></label>
                   
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>E-Mail: </label>
                    <input type="email" class="form-control" 
                           [(ngModel)]="pessoa.email" name="email"   />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nacionalidade: </label>
                    <input type="text" class="form-control" 
                           [(ngModel)]="pessoa.nacionalidade" name="nacionalidade"   />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Naturalidade: </label>
                    <input type="text" class="form-control" 
                           [(ngModel)]="pessoa.naturalidade" name="naturalidade"   />
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data Atualização:</label>
                    <input type="text" class="form-control" name="dataCadastro"
                           [ngModel]="pessoa.dataCadastro" disabled="true"  />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" *ngIf="!pessoa.id">
                    <i class="fa fa-save" ></i> Salvar
                </button>

                <button type="submit" class="btn btn-primary" *ngIf="pessoa.id">
                    <i class="fa fa-sync-alt" ></i> Atualizar
                </button>

                <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left" ></i> Voltar
                </button>
            </div>
     
        </div>
    </form>
</div>
